@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f8d3f6;
  --font: #ffffff;
  --fontPolaroid: #000000;
  --pink: #e079db;
  --button: #b1379c;
  --buttonHover: #8f307f;
  --polaroid: #ffffff;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
} */
